/*@fontface*/
/**{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
        "header header"
        "Body sidebar"
        "Footer Footer";
}*/
body{
    margin: 0;
    color: black;
    font-family: Raleway;
    font-size: 12px;
}

.containergrid{
    display: grid;
    grid-template-columns: 1em 2fr 1fr 1em;
    /*grid-template-rows: 1fr 2fr 4fr 3fr 2fr;*/
    gap: 10px 10px;
    max-width: 1440px;
    margin: auto;
    width: 100%;
    }


/*Header*/
header{
    display: grid;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column: span 4;
}

#conteneurheader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4em;
    align-items: center;
}

header img{
    max-width: 6em;
    max-height: 2.5em;
    margin-top: 1em;
}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 40%;
    min-width: 60px;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 3em;
    width: 100%;
    /*align-items: flex-end;*/
}

nav ul li{
    display: flex;
    width: auto;
    height: 3em;
    padding-left: 1em;
    padding-right: 1em;
    align-items: flex-end;
}

nav ul li:hover {
    border-top: 2px solid #0065FC;
}

nav ul li a:hover{
    color: #0065FC;
}

#inscrire{
    color: #0065FC;
    font-weight: bolder;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 16px;
    padding-left: 15px;
}

h2{
    font-size: 12px;
    justify-content: flex-start;
}

h3{
    font-size: 12px;
}

/*Section 1*/
#section1{
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column: span 3;
}

#conteneursection1{
    display: flex;
    flex-direction: column;

}
/*Recherche avec carte*/
#recherche{
display: flex;
height: 3em;
margin-bottom: 1em;
}

#recherche i{
    display: flex;
    justify-content: center;
    padding-top: 0.7em;
    font-size: 15px;
}

#bordurerecherche{
    background-color: #F2F2F2;
    border-radius: 8px 0px 0px 8px;
   /* border: 3px solid #0065FC;*/
    width: 3em;
}

#recherche input{
    width: 13em;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 0;
    border-right: 0;
}

.recherche{
    border: 0;
    background-color: #0065FC;
    color: #F2F2F2;
    font-weight: bolder;
    border-radius: 0px 8px 8px 0px;
    padding-right: 1em;
    padding-left: 1em;
    width: auto;
}
/*Conteneur Filtres options*/
#filtres{
    display: inline-flex;
    min-width: 60%;
    margin-bottom: 1em;
}
/*Bouton filtres*/
.optionfiltres{
    display: flex;
    /*flex-direction: row;
    flex-wrap: nowrap;*/
    margin: 1em;
    width: 15em;
    height: 3em;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    font-size: 10px;

}

.optionfiltres i{
    /*Pensez à enlever le border après mise en forme*/
    /*border: 2px solid #0065FC;*/
    border-radius: 50%;
    background-color: #DEEBFF;
    font-size: 10px;
    padding: 1em 0.8em 1em 0.8em;
    /*justify-content: center;*/
    /*align-items: center;*/ 
    width: 1.3em;
    color: #0065FC;
}

.optionfiltres p{
    font-weight: bolder;
    height: 2em;
    padding-left: 10px;;
}
/*Logo info*/

#info{
    display: flex;
    height: 2em;
    align-items: center;
}

#bordureinfo{
    font-size: 10px;
    border: 2px solid #F2F2F2;
    padding: 0.5em 0.7em 0.5em 0.7em;
    margin-right: 1em;
    border-radius: 50%;
}
#bordureinfo i{
    width: 0.5em;
}

/*II. Section 2*/
#section2{
    display: grid;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column: span 2;
}

#conteneursection2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #F2F2F2;
    height: auto;
    border-radius: 15px;

}
#resultathebergement{
    display: flex;
    flex-wrap:wrap;
    align-items: flex;
    /*width: auto;
    height: auto;*/
    /*flex-direction: column;*/
    justify-content: space-around;
}
.hebergement{
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    /*align-items: flex;*/
    background-color: white;
    /*min-width: 30%;
    height: auto;*/
    max-height: 200px;
    padding: 3px;
    margin: 1em;
    border-radius: 15px;

}

.hebergement img{
    width: 140px;
    height: 70px;
    border-radius: 15px 15px 0px 0px;
}

.fa-star{
    color: #0065FC;
}

#grey{
    color: #F2F2F2;
}

#afficherplus{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}


/*III. Section 3*/
#section3{
    display: grid;
    grid-row-start: 3;
    grid-column-start: 3;
    
}

#conteneursection3{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 15px;
}

#headersection3{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.fa-chart-line{
    font-size: 20px;
    /*margin-right: 15px;*/
}

#resultatpopulaires{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.populaires{
    background-color: white;
    display: flex;
    padding: 3px;
    margin-bottom: 1em;
    border-radius: 10px;

}
.populaires img{ 
    height: 80px;
    width: 80px;
    border-radius: 15px 0px 0px 15px;
    /*align-items: stretch;*/
}

.hotel{
    padding-left: 1em;

}

/*SEction 4*/
#section4{
    display: grid;
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column: span 3;
    font-weight: bolder;
}

#conteneursection4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
#galleryactivites{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(auto-fill, 300px);
max-width: 1440px;
/*voir pour mettre max-*height*/
height: auto;
border: 3px solid black;
/*padding: 0;*/
}

#figure1{
display: grid;
grid-column-start: 1;
/*grid-row-start: 1;*/
grid-row-end: span 6;
}

#figure2{
    grid-column-start: 2;
    grid-row: span 4;
    }

#figure3{
    grid-column-start: 2;
    grid-row: span 2;
    }

#figure4{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 7;
    }

#figure5{
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

#figure6{
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 7;
    }


figure{
width: auto;
height: auto;
border: 3px solid #0065FC;
border-radius: 15px;
margin: 10px;

}

figcaption{
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
    height: 30px;
}

#galleryactivites img{
    width: 100%;
    height: auto;
    min-height: 90%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;

}

*/
/*Footer*/
footer{
    display: grid;
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column: span 5;
    font-family: Raleway;
    font-size: 12px;
}

#conteneurfooter{    
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    /*flex-direction: column;*/
}

.elementfooter{
    width: 30%;
    margin: 1.5em;
}

.elementfooter ul{
    padding-left: 0px;
}

.elementfooter li{
    list-style-type: none;
    width: auto;
    margin-left: 0px;
    padding-bottom: 0.7em;
}