/*@fontface*/



body{
    margin: 0;
    color: black;
    font-family: Raleway;
    font-size: 12px;
}

.containergrid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4 auto);
    max-width: 1440px;
/*pb marge grille*/
    margin-left: 20px;
    margin-right: 20px;
    /*margin: auto;*/
    width: auto;
    gap: 20px;
    
    }


/*Header*/
header{
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column: span 3;
}

#containerheader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4em;
    align-items: center;
}

header img{
    max-width: 6em;
    max-height: 2.5em;
    margin-top: 25px;
}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 40%;
    min-width: 60px;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 3em;
    width: 100%;
    /*align-items: flex-end;*/
}

nav ul li{
    display: flex;
    width: auto;
    height: 3em;
    padding-left: 20px;
    padding-right: 20px;
    align-items: flex-end;
}

nav ul li:hover {
    border-top: 2px solid #0065FC;
}

nav ul li a:hover{
    color: #0065FC;
}

#inscrire{
    color: #0065FC;
    font-weight: bolder;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 16px;
    padding-left: 15px;
}

h2{
    font-size: 12px;
    justify-content: flex-start;
}

h3{
    font-size: 12px;
    padding-left: 10px;
}

article{
    box-shadow: 0px 5px 10px #909090 /*rgba(242, 242, 242, .4) ;*/
}

/*Section 1*/

#section1{
    display: grid;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column: span 3;
}

#conteneursection1{
    display: flex;
    flex-direction: column;

}
/*Recherche avec carte*/
#recherche{
display: flex;
height: 3em;
margin-bottom: 20px;
}

#recherche i{
    display: flex;
    justify-content: center;
    padding-top: 0.7em;
    font-size: 15px;
}

#bordurerecherche{
    background-color: #F2F2F2;
    border-radius: 8px 0px 0px 8px;
   /* border: 3px solid #0065FC;*/
    width: 3em;
}

#recherche input{
    width: 13em;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #f2f2f2;
    border-left: 0;
    border-right: 0;
}

.recherche{
    display: flex;
    border: 0;
    background-color: #0065FC;
    color: #F2F2F2;
    font-weight: bolder;
    border-radius: 0px 8px 8px 0px;
    padding-right: 1em;
    padding-left: 1em;
    width: auto;
    align-items: center;
}

/*Voir si quelque chose de plus propre*/
.loupe{
    display: none;
    border: 0;
    background-color: #0065FC;
    color: #F2F2F2;
    font-weight: bolder;
    border-radius: 0px 8px 8px 0px;
    padding-right: 1em;
    padding-left: 1em;
    width: auto;
}
/*Conteneur Filtres options*/
/*#filtres{
    
}*/

.containerfiltres{
    display: inline-flex;
    min-width: 60%;
    margin-bottom: 1em;
}

/*Bouton filtres*/
.optionfiltres{
    display: flex;
    /*flex-direction: row;
    flex-wrap: nowrap;*/
    margin: 20px;
    width: 15em;
    height: 3em;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    font-size: 10px;
}
.optionfiltres:hover{
    background-color: #0065FC;
    color: white;

}
.optionfiltres i{
    /*Pensez à enlever le border après mise en forme*/
    /*border: 2px solid #0065FC;*/
    border-radius: 50%;
    background-color: #DEEBFF;
    font-size: 10px;
    padding: 1em 0.8em 1em 0.8em;
    /*justify-content: center;*/
    /*align-items: center;*/ 
    width: 1.3em;
    color: #0065FC;
}

.optionfiltres p{
    font-weight: bolder;
    height: 2em;
    padding-left: 10px;;
}
/*Logo info*/

#info{
    display: flex;
    height: 2em;
    align-items: center;
}

#bordureinfo{
    font-size: 10px;
    border: 2px solid #F2F2F2;
    padding: 0.5em 0.7em 0.5em 0.7em;
    margin-right: 1em;
    border-radius: 50%;
}
#bordureinfo i{
    width: 0.5em;
}

/*II. Section 2*/
#section2{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column: span 2;
}

#conteneursection2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #F2F2F2;
    height: auto;
    border-radius: 15px;

}
#resultathebergement{
    display: flex;
    flex-wrap:wrap;
    align-items: flex;
    justify-content: space-around;
}
.hebergement{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-height: 200px;
    width: auto;
    margin: 15px;
    padding: 3px 3px 20px 3px;
    border-radius: 15px;
}

.lienherbergement{
    text-decoration: none;
    color: black; 
}

.hebergement img{
    height: 100px;
    width: 240px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.hebergement p{
    padding-left: 10px;
}

.star{
    padding-left: 10px;
}

.fa-star{
    color: #0065FC;
}

#grey{
    color: #F2F2F2;
}

#afficherplus{
    color: black;
    font-weight: bolder;
    text-decoration: none;
    margin-bottom: 25px;
    margin-left: 25px;
}


/*III. Section 3*/
#section3{
    display: grid;
    grid-row-start: 3;
    grid-column-start: 3;
    
}

#conteneursection3{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 15px;
}

#headersection3{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.fa-chart-line{
    font-size: 20px;
    padding-right: 15px;
}

#resultatpopulaires{
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
 }

.populaires{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3px;
    margin-bottom: 20px;
    border-radius: 10px;
    /*max-height: 120px;*/
    /*width: auto;*/
    min-width: 200px;
    max-width: 300px;
    color: black;
}

.pop{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;
    color: black;
    border: 3px solid blues;
    width: auto;
}
.populaires img{ 
    height: 120px;
    width: 100px;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
}

.populaires p{
    margin: 10px;
}

.hotel{

}

/*IV. Section 4*/

#section4{
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column: span 3;
    font-weight: bolder;
}
    
#conteneursection4{
    /*display: flex;
    flex-direction: column;
    flex-wrap: wrap;*/

}
.galleryactivites{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    max-width: 1440px;
    /*voir pour mettre max-*height*/
    /*height: auto;*/
}

.activités{
    width: auto;
    height: auto;
    border-radius: 15px;
    margin: 10px;
    max-width: 300px;
    }

.lienactivités{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    width: auto;
    height: 100%;
}

.activités:nth-child(1){
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row: span 6;
}

.activités:nth-child(2){
    grid-column-start: 2;
    grid-row: span 4;
}

.activités:nth-child(3){
    grid-column-start: 2;
    grid-row: span 2;
}

.activités:nth-child(4){
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 7;
}

.activités:nth-child(5){
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.activités:nth-child(6){
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 7;
}



figcaption{
    padding-top: 10px;
    padding-left: 10px;
    width: auto;
    height: 30px;
}

.galleryactivites img{
    width: 100%;
    height: 100%;
    /*min-height: 90%;*/
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

/*Footer*/
footer{
    display: grid;
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column: span 5;
    font-family: Raleway;
    font-size: 12px;
}

#conteneurfooter{    
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    /*flex-direction: column;*/
}

.elementfooter{
    width: 30%;
    margin: 1.5em;
}

.elementfooter ul{
    padding-left: 0px;
}

.elementfooter li{
    list-style-type: none;
    width: auto;
    margin-left: 0px;
    padding-bottom: 0.7em;
}

/*Break point tablette*/

/*Breakpooint smartphone*/

@media screen and (max-width: 380px){

 
    .containergrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        max-width: 37s0px;
        width: auto;
        border: 2px solid blue;
        margin: 0;
        /*gap: 10px 10px;
        pb marge grille
        margin-left: 20px;*/
        /*margin: auto;*/ 
    }

    section{
        /*max-width: 380px;*/
        width: 370px;
    }

    article{
    border: 2px solid greenyellow;
}

/*HEADER*/

    #containerheader{
        /*display: flex;*/
        flex-direction: column;
        /*flex-wrap: wrap;*/
        width: 370px;
        height: auto;
        align-items: inherit;
        border: 3px solid orange;
    }

    header{
        grid-column-start: 1;
        grid-row-start: 1;
        border: 2px solid palevioletreds;
    }

    #inscrire{
        position: absolute;
        right: 15px;
        top: 15px;
    }
    nav{
        width: 380px;
        margin: 0%;
    }

    nav ul{
        width: auto;
        padding: 0px;
        border: 2px solid chartreuse;
    }

    nav ul li:hover{
        border-top: none;
    }

    nav ul li:nth-child(-n+2){
        width: 190px;
        padding: 0px;
        justify-content: center;
        align-items: center;
    
    }

    nav ul li:nth-child(-n+2):hover{
        border-bottom: 3px solid #0065FC;
    }

/* I. SECTION 1*/
    #section1{
        grid-column-start: 1;
        grid-row-start: 2;
        border: 2px solid purple;
    }
        
    #conteneursection1{
        width: auto;
        }
        
    #filtres{
        display: flex;
        flex-direction: column;
    }

    .containerfiltres{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: 3px solid purple;
    }


    .optionfiltres{
        width: auto;
        padding-right: 20px;
    }

    .optionfiltres p{
        padding-left: 20px;
    }

    input{
        flex-grow: 1;
    }

    .loupe{
        display: flex;
    }

    .recherche{
        display: none;
    }

    /*II. SECTION 2*/

    #section2{
        width: auto;
        grid-column-start: 1;
        grid-row-start: 4;
        border: 2px solid purple;
    }

    #conteneursection2{
        width: 100%;
    }

    .hebergement img{
        width: 300px;
        height: 100px;
    }

    /*III. SECTION 3*/

    #section3{
        grid-column-start: 1;
        grid-row-start: 3;
        border: 2px solid purple;
    }

    #conteneursection3{
        width: fit-content;
    }

    #resultatpopulaires{
        margin: auto;
    }

    /*IV. SECTION 4*/

    #section4{
        grid-column-start: 1;
        grid-row-start: 5;
        border: 2px solid purple;   
    }

    #conteneursection4{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .galleryactivites{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .activités img{
        height: 100px;
        width: 300px;
    }


    /*.activités img{
        max-width: 300px;
        height: auto;
    }*/

    #conteneurfooter{
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
    }

    .elementfooter{
        width: auto;
    }

}

