body{
    margin: 0;
    color: black;
    font-family: Raleway;
    font-size: 16px;
}

.containergrid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, auto);
    max-width: 1440px;
    margin: auto;
    width: auto;
    padding: 20px;
}

/*Header*/
header{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column: span 2;
}

#containerheader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4em;
    align-items: end;
}

header img{
    max-width: 6em;
    max-height: 2.5em;
}

nav{
    display: flex;
    justify-content: space-between;
    min-width: 60px;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 4em;
    margin: 0;
}

nav ul li{
    display: flex;
    height: 4em;
    width: 5.5em;
    align-items: center;
    justify-content: center;
    padding: 10px 40px 0;
}

nav ul li:hover {
    border-top: 2px solid #0065FC;
}

nav ul li a:hover{
    color: #0065FC;
}

#inscrire a{
    color: #0065FC;
    font-weight: bolder;
}

#inscrire{ 
    padding-right: 0;
}

#inscrire:hover{
    border: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 22px;
    margin: 0px;
}

h2{
    font-size: 24px;
    margin: 0px 0px 25px 0px;
}

h3{
    font-size: 16px;
    padding-left: 10px;
}

h4{
    font-size: 20px;
    margin-bottom: 20px;
}

article{
    box-shadow: 0px 5px 10px rgb(214, 214, 214)
}

figure{
    box-shadow: 0px 3px 10px rgb(214, 214, 214)
}

.nom{
    margin: 6px 0px;
}

.star{
    padding-left: 10px;
    margin-top: auto;
}

.fa-star{
    color: #0065FC;
    font-size: 10px;
    padding-bottom: 5px;
}

.grey{
    color: #F2F2F2;
}

/*I.Section 1*/

#section1{
    display: grid;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column: span 3;
    margin: 30px 0px;
}

#conteneursection1{
    display: flex;
    flex-direction: column;
}

#p1{
margin-top: 8px;
margin-bottom: 20px;
}

#recherche{
display: flex;
height: 3em;
margin-bottom: 25px;
}

#recherche i{
    display: flex;
    justify-content: center;
}

#bordurerecherche{
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 3em;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#recherche input{
    width: 11em;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #f2f2f2;
    border-left: 0;
    border-right: 0;
    font-family: raleway;
    font-weight: bolder;
    color: black;
    padding: 1em;
    font-size: 18px;
}

.recherche{
    display: flex;
    border: 0;
    background-color: #0065FC;
    color: #F2F2F2;
    font-family: raleway;
    font-weight: 600;
    border-radius: 0px 15px 15px 0px;
    padding-right: 1em;
    padding-left: 1em;
    width: auto;
    align-items: center;
    font-size: 18px;
}

.loupe{
    display: none;
    border: 0;
    background-color: #0065FC;
    color: #F2F2F2;
    font-weight: bolder;
    border-radius: 15px;
    width: 3.5em;
}

/*Conteneur Filtres options*/
#filtres{
   display: flex; 
   align-items: center;
   height: 50px;
   margin: 0 0 25px 10px;
   font-weight: bolder;
   font-size: 18.5px;
}

.containerfiltres{
    display: inline-flex;
    margin-left: 20px;
}

/*Bouton filtres*/
.optionfiltres{
    display: flex;
    margin: 0px 0.6em;
    width: auto;
    height: 45px;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
}

.optionfiltres:hover{
    background-color: #0065FC;
    border: 3px solid #0065FC;
    color: white;
}

.optionfiltres i{
    display: flex;
    border-radius: 50%;
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    position: relative;
    left: -4px;
    top: -2.5px;
}

.optionfiltres p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0px 20px 0px 15px;
    margin: 0px;
}

/*Logo info*/
#info{
    display: flex;
    height: 2em;
    align-items: center;
    font-size: 16px;
}

#bordureinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    width: 1.5em;
    border: 2px solid #F2F2F2;
    margin-right: 10px;
    border-radius: 50%;
}

#bordureinfo i{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 12px;
    width: auto;
    color: #0065FC;
}

/*II. Section 2*/
#section2{
    grid-row-start: 3;
    grid-column-start: 1;
    margin: 0 20px 20px 0;
}

#conteneursection2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #F2F2F2;
    height: auto;
    border-radius: 20px;
    padding: 35px 40px 40px;
}

#resultathebergement{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.hebergement{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30%;
    height: auto;
    /*margin: 15px;*/
    border-radius: 20px;
    border: 5px solid white;
    margin: 0 0 30px 0;
}

.lienherbergement{
    text-decoration: none;
    color: black; 
}

.hebergement img{
    height: 100px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.hebergement p{
    padding-left: 10px;
    margin: 5px 0px;
    font-size: 13px;
}

#afficherplus{
    color: black;
    font-weight: bolder;
    text-decoration: none;
    margin-bottom: 10px;
}

/*III. Section 3*/
#section3{
    display: grid;
    grid-row-start: 3;
    grid-column-start: 2;
    margin: 0 0 20px 20px;  
}

#conteneursection3{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 35px 40px 0px 40px;
}

#headersection3{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.fa-chart-line{
    font-size: 20px;
}

#resultatpopulaires{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin: auto;
}

.populaires{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 5px solid white;
    width: 300px;
    height: 120px;
    color: black;
}

.pop{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;
    color: black;
    width: auto;
}

.populaires img{ 
    height: 120px;
    width: 120px;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
}

.populaires p{
    font-size: 13px;
    padding-left: 10px;
    margin: 0;
}

.hotel{
    padding: 5px 20px 0px 10px;
    display: flex;
    flex-direction: column;
}

/*IV. Section 4*/

#section4{
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column: span 3;
    font-weight: bolder;
    margin-top: 25px;
}
    
#conteneursection4{
    padding-bottom: 60px;
}

.galleryactivites{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 20px);
    max-width: 1440px;/*voir si utile*/
    gap: 40px 40px;
}

.lienactivités{
    text-decoration: none;
    color: black;
}

.activités{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    margin: 0;
    border-radius: 20px;
}

.lienactivités:nth-child(1){
    grid-area: 1 / 1 / 9 / 2;
}

.lienactivités:nth-child(2){
    grid-area: 1 / 2 / 6 / 3;
}

.lienactivités:nth-child(3){
    grid-area: 6 / 2 / 9 / 3;
}

.lienactivités:nth-child(4){
    grid-area: 1 / 3 / 9 / 4;
}

.lienactivités:nth-child(5){
    grid-area: 1 / 4 / 5 / 5;
}

.lienactivités:nth-child(6){
    grid-area: 5 / 4 / 9 / 5;
}

.activités h3{
    margin: 0;
    line-height: 50px;
}

.galleryactivites img{
    width: 100%;
    height: calc(100% - 40px);
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.lienactivités:nth-child(1) img{
    object-position: 45% 10% ;
}

.lienactivités:nth-child(2) img{
    object-position: 0 45%;
}

.lienactivités:nth-child(3) img{
    object-position: 0 30%;
}

.lienactivités:nth-child(4) img{
    object-position: 55% 20%;
}

.lienactivités:nth-child(5) img{
    object-position: 40% 0;
}

.lienactivités:nth-child(6) img{
    object-position: 40% 25%;
}

/*Footer*/
footer{
    font-family: Raleway;
    font-size: 14px;
    max-width: 1440px;;
    margin: auto;
    background-color: #F2F2F2;
}

.conteneurfooter{    
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 10px 0 10px 50px;
}

.elementfooter{
    width: 33%;
}

.elementfooter ul{
    padding-left: 0px;
}

.elementfooter li{
    list-style-type: none;
    width: auto;
    margin-left: 0px;
    padding-bottom: 0.6em;
}

/*Breakpoint point tablette*/

@media screen and (max-width: 1024px){
    
.containergrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    flex-direction: column;
    justify-content: center;
    width: auto;
}

header{
    grid-column-start: 1;
    grid-row-start: 1;
}

header img{
   padding-left: 15px; 
}

  .optionfiltres{
      font-size: 14px;
      margin: 0 10px;
  }  

  .optionfiltres p{
      padding: 0px 10px 0 5px;
  }

    #section1{
      grid-column-start: 1;
      grid-row-start: 2;
    }
    #section2{
        grid-column-start: 1;
        grid-row-start: 4;
        margin-right: 0;
    }

    #conteneursection2{
        margin-right: 0;
    }

    #section3{
        grid-column-start: 1;
        grid-row-start: 3;
        margin-left: 0;
    }

    #resultatpopulaires{
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .populaires{
        flex-direction: column;
        width: 31%;
        height: auto;
        margin: auto;
    }

    .pop{
        flex-direction: column;
    }

    .populaires img{
        height: 100px;
        width: auto;
        border-radius: 15px 15px 0px 0px;
    }

    .hotel{
        padding: 5px;
        height: 5em;
    }

    .hotel p{
        font-size: 11px;
    }

    #section4{
    grid-column-start: 1;
    grid-row-start: 5;
    } 

    .galleryactivites{
        width: auto;/*voir si utile*/
        gap: 20px 20px;}

    figcaption{
        font-size: 14px;
    }

    .activités h3{
        margin: 0;
        padding: 5px 0 0 15px;
        height: 50px;
    }
}

/*Breakpooint smartphone*/

@media screen and (max-width: 480px){

    body{
        font-size: 14px;
    }
 
    .containergrid{
        width: auto;
        margin: 0;
    }

/*HEADER*/
    #containerheader{
        flex-direction: column;
        height: auto;
        align-items: inherit;
    }

    h1{
        padding-right: 40px;
   }

    h2{
        padding-left: 20px;
        margin-bottom: 25px;
    }

    #inscrire{
        position: absolute;
        right: 15px;
        top: 15px;
        padding: 0;
    }

    nav ul{
        padding: 0px;
        margin: 5px 0px 0px 0px;
    }

    nav ul li:hover{
        border-top: none;
    }

    nav ul li:nth-child(-n+2){
        width: 190px;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }

    nav ul li:nth-child(-n+2):hover{
        border-bottom: 3px solid #0065FC;
    }

/* I. SECTION 1*/
    
    #section1{
        margin: 0 0 40px 0;
    }

    #conteneursection1{
        width: auto;
        height: auto;
        padding: 0 15px 0 15px;
        }
        
    #filtres{
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }

    .containerfiltres{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 0;
    }

    .optionfiltres{
        width: auto;
        padding-right: 0;
        font-size: 16px;
        margin: 3px;
    }

    input{
        flex-grow: 1;
    }

    .loupe{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 10px;
    }

    .recherche{
        display: none;
    }

    #p1{
        margin-top: 10px;
    }

    #info{
        font-size: 14px;
    }

    /*II. SECTION 2*/

    #section2{
        margin: 0;
    }

    #conteneursection2{
        width: 100%;
        padding: 30px 0 20px 0;
        border-radius: 0;
        background: none;
    }

    #conteneursection2 h1{
        margin: 0px 0px 30px 15px;
    }

    #resultathebergement{
        margin-top: 0;
        justify-content: center;
    }
    
    .hebergement{
        height: auto;
        width: auto;
        margin-bottom: 10px;
    }

    .hebergement img{
        width: 330px;
        height: 115px;
    }

    #afficherplus {
        margin: 20px 0 0 15px;
    }

    /*III. SECTION 3*/

    #section3{
        margin: 0;
    }

    #conteneursection3{
        border-radius: 0;
        padding: 30px 10px 0;
    }

    #resultatpopulaires{
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        margin: auto;
    }

    .populaires{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 330px;
        height: auto;
        margin-bottom: 10px;
    }

    .pop{
        flex-direction: row;}

    .populaires img{
        height: 120px;
        width: 120px;
        border-radius: 15px 0px 0px 15px;
    }

    .hotel{
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .hotel p{
        font-size: 14px;
    }

    .fa-chart-line{
        padding-right: 10px;
    }

    /*IV. SECTION 4*/

    #conteneursection4{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }

    .galleryactivites{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        gap: 20px;
    }

    .activités{
      width: 330px;  
      height: auto;
    }

    .activités img{
        height: 130px;
        width: 330px;
    }

    figcaption{
        width: auto;
        height: 60px;
    }

    .activités h3{
        margin: 0;
        line-height: 50px;
        padding: 0 0 0 15px;
    }

/*FOOTER*/

    .conteneurfooter{
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        padding: 15px 0;
    }

    .elementfooter{
        width: auto;
        margin: 0px 0px 10px 30px;
    }

    .elementfooter ul{
        margin: 20px 0 0 0;
    }

    .elementfooter li{
        padding-bottom: 10px;
    }
}

